# Learn X in Y Minutes
## Where X=Pandas

_Inspired by the popular [learnxinyminutes](https://learnxinyminutes.com/)._

Pandas is the shorthand for 'Python and Data Analysis'. It provides a rich set of features for exploring and manipulating data, making it the go-to toolkit for a lot of data scientists. 

Since Pandas is a Python library, you might want to check out [Python](https://learnxinyminutes.com/docs/python/) first.

---

# Basics
Let's get the hang of Pandas!

In [1]:
# import pandas
import pandas as pd

In [54]:
# Panda's dataframe object is like an SQL table; made up of rows and columns
from random import randint
df = pd.DataFrame([[random.randint(0,9) for i in range(10)] for i in range(10)],
                  index=[i for i in range(10)], 
                  columns=list('abcdefghij'))

df # => a 10*10 array/matrix/table

   a  b  c  d  e  f  g  h  i  j
0  2  1  6  6  0  8  5  4  1  6
1  2  3  2  2  1  7  4  2  4  7
2  2  9  5  5  0  8  9  6  6  9
3  3  8  3  4  1  9  8  5  9  1
4  1  4  1  3  0  6  9  5  8  5
5  8  9  6  6  1  2  6  8  7  2
6  8  8  0  7  6  0  3  0  5  8
7  1  4  9  0  5  6  9  0  4  6
8  9  5  7  0  6  7  4  4  7  3
9  6  5  5  2  3  0  3  3  2  9

In [66]:
# ..headers
df.columns

Index([u'a', u'b', u'c', u'd', u'e', u'f', u'g', u'h', u'i', u'j'], dtype='object')

In [59]:
# ..just the first 5
df.head()

   a  b  c  d  e  f  g  h  i  j
0  2  1  6  6  0  8  5  4  1  6
1  2  3  2  2  1  7  4  2  4  7
2  2  9  5  5  0  8  9  6  6  9
3  3  8  3  4  1  9  8  5  9  1
4  1  4  1  3  0  6  9  5  8  5

In [58]:
# ..the last 5
df.tail()

   a  b  c  d  e  f  g  h  i  j
5  8  9  6  6  1  2  6  8  7  2
6  8  8  0  7  6  0  3  0  5  8
7  1  4  9  0  5  6  9  0  4  6
8  9  5  7  0  6  7  4  4  7  3
9  6  5  5  2  3  0  3  3  2  9

In [85]:
# Select columns
df[['d',  'f']]

   d  f
0  6  8
1  2  7
2  5  8
3  4  9
4  3  6
5  6  2
6  7  0
7  0  6
8  0  7
9  2  0

In [64]:
# ..rows
df[5:7]

   a  b  c  d  e  f  g  h  i  j
5  8  9  6  6  1  2  6  8  7  2
6  8  8  0  7  6  0  3  0  5  8

In [70]:
# Rename columns
df = df.rename(columns = {'a': 'aa', 'b': 'bb'})
list(df.columns)

['aa', 'bb', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [79]:
# Create new column from other columns
df['ij'] = df['i'] + df['j']
df[1:3]

   aa  bb  c  d  e  f  g  h  i  j  ij
1   2   3  2  2  1  7  4  2  4  7  11
2   2   9  5  5  0  8  9  6  6  9  15

You have more ways to view data.

In [ ]:
# Filter specific rows / records / observations.

In [ ]:
# Group and aggregate!

In [ ]:
# ..and order / sort results too

In [ ]:
# You can chain operations.

In [ ]:
# This is how you join.

In [ ]:
# Other merges (aka joins)

Here are some things you will be needing too.

In [ ]:
# Append separate datasets w/ same columns

In [ ]:
# Lambda goooodness!

In [ ]:
# Of course, there's a pivot in there.

In [ ]:
# A must-have for analysts - describe()

# In Action
Let's use an actual dataset and do some basic descriptive analysis, while applying new Pandas skills.

In [ ]:
# Maybe some kaggle stuff here

# Useful Links
- [Official Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/)   
- [Pandas Cheatsheet (PDF)](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)   
- [Python for Data Analysis (Book)](https://www.amazon.com/Python-Data-Analysis-Wrangling-IPython/dp/1491957662/ref=pd_sim_14_2?_encoding=UTF8&psc=1&refRID=TJ9Q3J20VHGT3KFN273Q)   
- [Dataschool.io Series on Pandas (Videos)](http://www.dataschool.io/easier-data-analysis-with-pandas/)   
- [Intro to Data Analysis (MOOC)](https://www.udacity.com/course/intro-to-data-analysis--ud170)